/* body,
html {
  height: 100%;
} */
.bg-image {
  background-image: url("../../assets/bg-baru.svg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 80px; */
}

.input {
  margin-top: 50px;
}
